<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HELP</title>
        <link rel="stylesheet" href="css/mystyles.css">
    </head>
    <body>
        
        <form class="box" action="/help" method="get">
            <span> HELP :) </span>
        </form>

    </body>
</html>