<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> WEATHER APP</title>
        <link rel="stylesheet" href="css/mystyles.css">
    </head>
    <body>
        <nav class="navbar">
            <div id="Menu-About" class="navbar is-primary">
                <div class="navbar-start">
                    <a class="navbar-item" href="/about" method="get">
                    About
                    </a>
                </div>
            </div>

            <div id="Menu-Help" class="navbar is-primary">
                <div class="">
                    <a class="navbar-item" href="help" method="get">
                        Help
                    </a>
                
                </div>
            </div>

            <div id="Menu-Weather" class="navbar is-primary">
                <div class="navbar-end">
                    <a class="navbar-item" href="weather" method="get">
                        Weather
                    </a>
                
                </div>
            </div>
        </nav>

        <form class="box" action="/welcome" method="get">
            <span> WELCOME :) </span>
            <span> PLEASE, SELECT AN OPTION :) </span>
        </form>

    </body>
</html>